* {
  margin: auto;
  padding: 0%;
  box-sizing: border-box;
}

:root {
  --clr-primary1: #962619;
  --clr-primary2: #0c0440;
  --clr-secondary1: #a9d0da;
  --clr-secondary2: #f1ecdd;
  --clr-secondary3: #71cca0;
  --clr-accent: snow;
  --ff-h: "permanent marker", sans-serif;
  --ff-p: "poppins", sans-serif;
}

body {
  background-color: var(--clr-secondary2);
}

img {
  max-width: 100%;
  display: block;
}

@media (min-width: 800px) {
  .nav {
    display: flex;
    /* background-color: var(--clr-primary2); */
    justify-content: center;
  }
}

.toggle-btn {
  display: none;
  list-style: none;
}

nav.shown .menu_logo {
  display: none;
}

/* .banner {
  position: sticky;
  top: 0;
  z-index: +1;
} */

.banner a {
  text-decoration: none;
}

@media (max-width: 800px) {
  nav {
    display: none;
  }

  .toggle-btn {
    border: none;
    display: block;
    cursor: pointer;
  }

  .logo_grid {
    display: none;
  }

  nav.shown {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: var(--clr-primary2);
  }

  #banner_mobile {
    display: flex;
    background-color: var(--clr-primary2);
  }

  #banner_mobile img {
    width: 50%;
  }

  #banner_mobile > * {
    flex-basis: 100%;
  }

  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }
}

footer {
  margin-top: 1rem;
  background: var(--clr-secondary1);
  font-family: var(--ff-p);
  color: var(--clr-primary2);
  list-style: none;
  padding: 2rem;
}

.nav {
  list-style: none;
  text-decoration: none;
}

.footer_grid {
  display: flex;
  justify-content: space-between;
}
