#index_first_section {
  width: 100%;
  min-height: 70vh;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-image: url(images/grafisk/Venstre_top.svg);
  background-size: cover;
  aspect-ratio: 16 / 9;
  background-size: 95%;
}

.index_75 {
  width: 75%;
}

.nav {
  padding: 2rem;
}

nav a {
  /* text-align: center; */
  /* background-color: var(--clr-secondary1); */
  /* border-radius: 1.25rem; */
  cursor: pointer;
  transition: 0.2s ease;
  font-family: var(--ff-p);
  padding: 1rem;
  color: var(--clr-primary2);
  font-size: 1.5rem;
}

nav a:hover {
  /* color: var(--clr-accent); */
  text-decoration: underline;
}

/* @media (min-width: 600px) { */

.index_first_section_wrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.logo_grid {
  grid-column: 1 / 3;
  grid-row: 1 / 3;

  width: 100%;
}

.h1_grid {
  grid-column: 3 / 8;
  grid-row: 1;

  color: #0c0440;
  font-size: 4.125rem;
  font-family: "permanent marker";
}

.h2_grid {
  grid-column: 5 / 8;
  grid-row: 2;

  color: #952619;
  font-family: "poppins", sans-serif;
  font-size: 3rem;
}
/* } */

#index_second_section {
  background-image: url(images/ikoner/splashbillede.svg);
  background-size: cover;
  aspect-ratio: 16 / 9;
  width: 75%;
  min-height: 70vh;
  margin-bottom: 3rem;
}

.index_first_section_hr {
  color: var(--clr-secondary3);
  margin-bottom: 3rem;
}

.index_first_section_p {
  max-width: 75ch;
  font-family: var(--ff-p);
  color: var(--clr-primary2);
}

@media (max-width: 600px) {
  .logo_grid {
    display: none;
  }

  .h1_grid {
    grid-column: 1 / 8;
    grid-row: 1;
    font-size: 2.2rem;
  }

  .h2_grid {
    grid-column: 1 / 8;
    grid-row: 2;
    font-size: 3rem;
  }
}

@media (min-width: 600px) and (max-width: 800px) {
  .h1_grid {
    grid-column: 1 / 8;
    grid-row: 1;
    font-size: 3rem;
  }

  .h2_grid {
    grid-column: 4;
    grid-row: 2;
    font-size: 3rem;
  }
}

@media (min-width: 800px) and (max-width: 1150px) {
  .h1_grid {
    grid-column: 3 / 8;
    grid-row: 1;
    font-size: 3rem;
  }

  .h2_grid {
    grid-column: 4 / 8;
    grid-row: 2;
    font-size: 3rem;
  }
}
